include *.rst
include *.txt
include pyqae/utils/data/fish/series/*.json
include pyqae/utils/data/fish/series/*.bin
include pyqae/utils/data/fish/images/*.tif
include pyqae/utils/data/iris/*.json
include pyqae/utils/data/iris/*.bin
include pyqae/utils/data/iris/*.mat
include pyqae/utils/data/iris/*.npy
include pyqae/utils/data/iris/*.txt
include pyqae/utils/data/mouse/images/*.json
include pyqae/utils/data/mouse/images/*.bin
include pyqae/utils/data/mouse/series/*.json
include pyqae/utils/data/mouse/series/*.bin
include pyqae/utils/data/mouse/params/*.json
include pyqae/lib/*.egg